.wrapper{
  margin-top: -20px;
  width: 100vw;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.nav{
  width: 300px;
  background-color: #EEF0F1;
  height: 100%;
  display: block;
  float: left;
  position: fixed;
  z-index: 1000;
}

.logonav{
font-size: 65px;
width:100%;
color: #DC6B44;
margin: auto;
padding-top: 50px;
text-align: center;
font-family: 'Amatic SC', cursive;
}

.navigation{
padding-top: 50px;
margin: auto;
width: 100%;
height: 40px;
font-size: 20px;
text-decoration: none;
list-style: none;
}

.navigation a li{
padding-top: 10px;
padding-bottom: 10px;
text-decoration: none;
color: #000;
}

.navigation a li:hover{
  background-color: #DC6B44;
  padding-left: 50px;
  margin-left: -50px;
  color: #EEE;
  text-decoration: none;
  transition: background-color 0.7s linear;
-webkit-transition: background-color 0.7s linear;
-moz-transition: background-color 0.7s linear;
}

a:focus, a:hover{
text-decoration: none;
color: #FFFFFF;
transition: color 0.7s linear;
-webkit-transition: color 0.7s linear;
-moz-transition: color 0.7s linear;
}
.main{
  margin-left: 300px;
}

.herohome{
  z-index: 1;
  paddisng-top: 25px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("images/meditation.jpg");
  background-color: #888;
  background-position: center bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.herohome h1{
  padding-top: 50px;
  font-family: 'Homemade Apple', cursive;
  font-size: 70px;
  color: #EEE;
}
.blankpage{
  position: absolute; // Reposition logo from the natural layout
  left: 300px;
  top: 0px;
  z-index: 10;
  width: 80%;
  height:100%;
  background-color: #ffffff;

}

.blankpage h1{
  font-family: 'Homemade Apple', cursive;
  color: #DC6B44;
    font-size: 60px;
    text-align: center;
    padding-left: 50px;
    padding-top: 100px;
}

.hourstitle h3{
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-size: 40px;
  padding-top: 100px;
}

.hourstitle ul{
  display: flex;
  justify-content: center;
  -webkit-padding-start: 0px;
}

.hourstitle li{
  display: inline;
  float: left;
  text-decoration: none;
  padding:10px;
}

.hourstitle h5 {
  text-align: center;
  font-size: 40px;
}

.hourstitle li:hover{
  text-align: center;
  font-size: 40px;
  color: #DC6B44;
  font-weight: 600;
  transition: color 0.5s linear;
-webkit-transition: color 0.5s linear;
-moz-transition: color 0.5s linear;
}

.card{
background-color: #EEF0F1;
}

.card-body{
padding-bottom: 100px;
margin-left: 15%;
margin-right: 15%;
color: #373636;
}

.card-body h3{
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-size: 40px;
  padding-bottom: 50px;
}
.cardcontainer{
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.medcard{
  background-color: #EEF0F1;
float: left;
width: 250px;
padding: 20px;
margin:20px;
}

.medcard h4 {
font-family: 'Homemade Apple';
font-size: 25px;
}

.btn-primary {
  background-image: none;
  background-color: #C27455;
  border-color: #C27455;
}
