.wrapper{
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.nav{
  width: 300px;
  background-color: #EEF0F1;
  height: 100%;
  display: block;
  float: left;
  position: fixed;
}

.logonav{
font-size: 65px;
width:100%;
color: #DC6B44;
margin: auto;
padding-top: 50px;
text-align: center;
font-family: 'Amatic SC', cursive;
}

.navigation{
padding-top: 50px;
margin: auto;
width: 100%;
height: 40px;
font-size: 20px;
text-decoration: none;
list-style: none;
}

.navigation a li{
padding-top: 10px;
padding-bottom: 10px;
text-decoration: none;
color: #000;
}

.navigation a li:hover{
  background-color: #DC6B44;
  color: #EEE;
  text-decoration: none;
}

.main{
  margin-left: 300px;
}

.herohome{
  padding-top: 25px;
  width: 100%;
  height: 900px;
  text-align: center;
  background-image: url("images/meditation.jpg");
  background-color: #888;
  background-position: center bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.herohome h1{
  padding-top: 125px;
  font-family: 'Homemade Apple', cursive;
  font-size: 70px;
  color: #EEE;
}
.section1{

}

h1{
  font-family: 'Homemade Apple', cursive;
}
